* {
  box-sizing: border-box;
}
.logo{font-family:Impact, Charcoal, sans-serif; 
		color:teal;
		text-transform: uppercase;
		display:block;
		text-align: center;
		}

body {background:#F0F8FF;
	margin:0;
	padding:0;}

.navigation{
		text-align:center;}

.navigation h3{
  		display: inline-block;
  		height: 20px;
  		margin:0px 60px;}

 .center{width: 50%;
 		height: 50%;
 	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 20px;
	border-radius: 5%;}